/* src/App.css */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.family-tree {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.family-member-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px; /* Adjust width as needed */
  text-align: center;
}

.profile-picture {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  background-color: #eee;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.member-name {
  font-weight: bold;
}

.member-status {
  color: #757575;
  margin-top: 5px;
}